extends layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/index.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
append bottom
  script(src='/public/javascripts/index.js')
block header
  include header
block content
  div.carousel_frame
    each i in [1,2,3,4,5]
      div.pice(style="background-image:url(/public/images/home/banner#{i}@1x.jpg)")
        div.text
          .title 风起云涌
          .subtitle 湖南郴州风力发电有限公司
    .controller.left <
    .controller.right >
  div.news_frame
    div.news_carousel
      each v in newsList
        div.pice(style="background-image:url(#{v.banner})")
          div.bottom-text #{v.title}
    div.news_list
      div.header
        span.h3 公司要闻
        span.h5
          a(href='importance') MORE
      ul.list
        each v,k in newsList
          li.item(data-index="#{k+1}")
            a(href='importance') #{v.title}
  div.intro_frame
    each card in newsCards
      div.card
        a(href="#{card.url}")
          div.head(style='background-image:url(#{card.banner})')
          div.title #{card.title}
          div.intro #{card.text}
          span.plus
  div.pictures_frame
    each card in cultureCards
      a.pic(href="#{card.url}" style='background-image:url(#{card.banner})')
        span.title #{card.title}
block footer
  include footer