extends ../layout

append head
  link(rel='stylesheet', href='/public/stylesheets/header.css')
  link(rel='stylesheet', href='/public/stylesheets/footer.css')
  link(rel='stylesheet', href='/public/stylesheets/common.css')
  link(rel='stylesheet', href='/public/stylesheets/modal.css')
append bottom
  script(src='/public/javascripts/modal.js')
block header
  include ../header
block content
  .content_block.flex.col-4.flex-start
    each news in newslist
      div.news-box(onclick="showNews(this)" data-banner='#{news.banner}' data-title='#{news.title}' data-content='#{news.content}')
        .img-box(style="background-image:url(#{news.banner})")
        .info-box
          p #{news.title}
          span.left #{news.date}
          span.right MORE
block footer
  include ../footer